<!DOCTYPE html>
<html lang="es">
	<head>
		<title>SOUTH : Exception</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="?SOUHT_ASSETS&type=css&resource=bootstrap.min.css">
		<link rel="stylesheet" href="?SOUHT_ASSETS&type=css&resource=exception-trace.css">
		<script src="?SOUHT_ASSETS&type=js&resource=jquery.min.js"></script>
		<script src="?SOUHT_ASSETS&type=js&resource=bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 s-header">
					<h3>(SOUTH) [<?=$this->exception->scope?>] <br class="hidden-lg" /><small><?=$this->exception->message?></small></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="s-file-small hidden-lg">
						[<?=$this->exception->code?> ] <?=$this->exception->file?> (line: <?=$this->exception->line?>)
					</p>
					<p class="s-file visible-lg">
						[<?=$this->exception->code?> ] <?=$this->exception->file?> (line: <?=$this->exception->line?>)
					</p>
					<div class="s-document">
						<?=$this->exception->document?>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="s-file-small hidden-lg">
						STACK TRACE
					</p>
					<p class="s-file visible-lg">
						STACK TRACE
					</p>
					<ul class="s-trace">
						<?php foreach ($this->exception->trace as $key => $trace): ?>
						<li class="s-trace-item"><?=$trace?></li>
						<?php endforeach ?>
						<?php if (isset($this->exception->previous)): ?>
						<?php foreach ($this->exception->previous->trace as $key => $trace): ?>
						<li class="s-trace-item"><?=$trace?></li>
						<?php endforeach ?>
						<?php endif; ?>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>