.s-header{
	background: #eee;
	border-bottom: 3px solid #ddd;
	margin-bottom: 10px;
}
.s-document{
	background: #fff;
	margin:0;
	padding: 10px
}

.s-lin .s-code{
	float:left;
}


.s-line{
	background: #efefff !important;
	margin:1px 0;
	padding: 0 5px;
	font-size: 12px !important;	
}

.s-highlight{
	background: #ddd !important;
}

.s-highlight .s-line{
	background: #ddd !important;	
}

.s-number{
	float:left;
	margin-right: 10px;
}

.s-highlight .s-number{
	color: #f00;
	font-weight: bold;
}

.s-file{
	float: right;
	padding: 5px;
	border: 1px solid #fff;
	background: #b1d2e2;
	color: #034a6d;
	margin:0 5px 0 0;
}

.s-file-small{
	padding: 5px;
	border: 1px solid #fff;
	background: #b1d2e2;
	color: #034a6d;
	margin:0 5px 0 0;
}

.s-trace{
	border-top: 1px solid #ddd;
	list-style-type: none;
	margin:5px 0;	
	padding: 0px;
}

.s-trace-item{
	margin:5px 0;
}

.s-previous{
	color: #333;
	padding:10px 0;
}

.s-previous strong{
	color: #09f;
}

.s-previous-file{
	color: #e01164;
}

.s-previous-line{
	color: #e01164;
	font-weight: bold;
}
